body {
    background-color: #be1fcd;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar{
    background-color: #000000;
    padding: 10px;
    
}

.navbar h1 {
    color: #ffffff;
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.start-button {
    text-align: center;
    margin-top: 250px;
}
